<header class="search">
  <%= search_form_for @q, url: rooms_path do |f| %>
    <%= f.label :address, "エリアを入力" %>
    <%= f.search_field :address_cont %>
    <%= f.label :room_detail, "キーワードを入力" %>
    <%= f.search_field :room_detail_cont %>
    <%= f.submit "検索" %>
  <% end %>
</header>

<div><%= @rooms.count %>件がヒットしました。</div>
<div class="room_group">  
  <% @rooms.each do |room| %>
    <ul>
      <li><img src="/assets/default-room.png" class="index_room_image"></li>
      <li><%= room.room_name %></li>
      <li>¥<%= room.price %></li>
      <li><%= room.room_detail %></li>
      <li><%= link_to "詳細へ", "/rooms/#{room.id}" %></li>
    </ul>
  <% end %>
</div>
