<div><%= link_to "戻る", :back %></div>

<div>
  <% if @room.room_image? %>
    <img src='<%= @room.room_image %>' class="show_room_image">
  <% else %>
    <img src="/assets/default-room.png" class="show_room_image">
  <% end %>
</div>
<div class="room_group">
  <div><%= @room.room_name %></div>
  <div><%= @room.price %></div>
  <div><%= @room.address %></div>
  <div><%= @room.room_detail %></div>
</div>
