<h2 class="profile_detail">新規登録</h2>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <table class="profile_detail">
    <tr>
      <th align="right"><%= f.label :user_name %></th>
      <td><%= f.text_field :user_name, autofocus: true, autocomplete: "name" %></td>
    </tr>
    <tr>
      <th align="right"><%= f.label :email %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th align="right">
        <%= f.label :password %><br>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上入力してください)</em>
        <% end %>
      </th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th align="right"><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </table>

  <ul class="form_submit">
    <li><%= f.submit "新しいアカウントを作成", class: "form_button" %></li>
    <li><%= link_to"アカウントをお持ちの方はログイン", "/users/sign_in", class: "form_button" %></li>
  </ul>
<% end %>

<!-- <%= render "users/shared/links" %> -->
